{% extends "layout.html" %}
{% block title %}Share-boX | SignUp{% endblock %}

{% block content %}
    
  <body>
    
    
    <section class="Form my-1 mx-5">
        <div class="container">

            <div class="row ">                
                <div class="col-lg-7 px-5 pt-5 ">
                      <h1 class="font-weight-bold ">Share-boX!</h1>
                      
                      <h4>Create a new account</h4>

                    <form action="/handle_signup" method="post" onsubmit="return myfun()">
                        <div class="form-row ">
                            <div class="col-lg-7 ">
                              <input type="email" placeholder="Email-Address" id="email" name="email5" class="form-control my-3 p-3 ">
                            </div>
                        </div>
                        <div class="form-row">
                      
                          <div class="col-lg-7 ">
                            
                            <input type="password" placeholder="password" name="password5" id="password" class="form-control my-3 p-3 ">
                          </div>
                      </div>
                      
                      <div class="form-row">
                        <div class="col-lg-7">
                          <button type="submit" class="btn1 mt-3 mb-5 ">SignUp</button>
                        </div>
                        {% if error  %}
                        <div class="form-row">
                         
                           
                          <div class="col-lg-7">
                            <div class="alert alert-danger text-center"  role="alert">
                              {{error}}

                            </div>
                          </div>  
                          
                                
                     
                        </div>
                        {% endif %}
 
                          
                      
                      <p>Already Have an account? <a href="{{url_for('user_login')}}">Sign-In</a></p>
                    </form>

                </div>
                
                
            </div>
            <div class="col-lg-5">
                  <img src="{{url_for('static',filename='undraw_Online.svg')}}" class="img-fluid image-vector" alt="" >
                </div>
        </div>
    </section>
    

    
{% endblock %}
